html,
body {
  height: 100vh;
}
body {
  margin: 0;
}
hr {
  width: 100%;
}

#⚛ {
  min-height: 100%;
}

.isolated-top-container {
  padding: 30px;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.totally-centered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
